<h2>Hello <%= @user.username %>,</h2>
<p>This is a confirmation that your password was successfully updated.</p>
<p>If you didn’t make this change, click here to reset your password.</p>
<p>
  <%= link_to "Reset your password HERE", @reset_url %>
</p>

<p>
  This link expires in <strong>15 minutes.</strong>
</p>