<h1>All Events</h1>

<% if flash[:alert] %>
  <p class="alert"><%= flash[:alert] %></p>
<% elsif flash[:notice] %>
  <p class="notice"><%= flash[:notice] %></p>
<% end %>

<div class="login-container">
  <%= link_to 'Create New Event', new_event_path, class: "btn btn-default", id: "new_event_button" %>
</div>
