<nav class="navbar">
  <div class="navbar-left">
    <%= link_to "GiftWise", events_path, class: "navbar-brand" %>
  </div>

  <ul class="navbar-links">
    <li><%= button_to "Events", events_path, class: "navbar-btn" %></li>
    <% if current_user %>
      <li><%= button_to "Profile", user_path(current_user.id), class: "navbar-btn" %></li>
      <li>
        <%= button_to "Logout", logout_path, method: :delete, class: "navbar-btn" %>
      </li>
  <% end %>
  </ul>
</nav>