<nav class="navbar">
  <div class="navbar-left">
    <%= link_to "GiftWise", events_path, class: "navbar-brand" %>
  </div>

  <ul class="navbar-links">
    <% if current_user %>
      <li><%= button_to "Invites", invites_path, class: "navbar-button", method: :get %></li>
      <li><%= link_to "Profile", user_path(current_user.id), class: "navbar-button" %></li>
      <li>
        <%= button_to "Logout", logout_path, method: :delete, class: "navbar-button" %>
      </li>
  <% end %>
  </ul>
</nav>